@use './base.scss';
@use './scss/mixins.scss';
@use './scss/utilities.scss';
@use './scss/components.scss';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

a,
.accent-link {
  text-decoration: none;
  color: var(--main-color);
  transition: var(--transition-normal);
  padding: 3px;
  border-radius: 4px;

  @media (hover: hover) {
    &:hover {
      background-color: rgba(95, 144, 178, 0.2);
    }
  }
}